/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #191919;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
}

a {
  color: #ffffff;
  transition: filter 0.2s ease-in;
}
a:hover {
  filter: saturate(1.5);
}

.container {
  margin: 0 auto;
  padding: 0px 15px;
  max-width: 1330px;
}

.castaway__btn {
  background-color: #118da8;
  font-size: 17px;
  line-height: 158%;
  padding: 12px 15px;
  transition: all 0.2s ease-in;
}
.castaway__btn--rounded {
  border-radius: 6px;
}
.castaway__btn:hover {
  filter: saturate(1.5);
}
.castaway__btn:active {
  position: relative;
  bottom: -1px;
}

.none {
  display: none !important;
}

.header {
  min-height: 1032px;
  padding-bottom: 100px;
}

.header__top {
  padding: 43px 0px;
}

.header__content {
  padding-top: 40px;
  display: flex;
  align-items: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
}

.header__img {
  position: relative;
  max-width: 650px;
}
.header__img::after {
  content: "";
  position: absolute;
  background: url("../imgs/header/decor-elements.svg");
  left: 0;
  top: 0;
  width: 68px;
  height: 74px;
  transform: translate(-30%, -40%);
}

.header__info {
  margin-top: 130px;
}

.header__title {
  position: relative;
  max-width: 530px;
  font-size: 70px;
  line-height: 88px;
  letter-spacing: 3.2px;
  margin-bottom: 90px;
}
.header__title::after {
  content: "";
  position: absolute;
  pointer-events: none;
  background: url("../imgs/header/decor-underline.svg");
  left: 0;
  bottom: -15px;
  width: 160px;
  height: 104px;
}

.header__text {
  margin-bottom: 16px;
  font-size: 15px;
  line-height: 24px;
}

.header__socials {
  display: flex;
  -moz-column-gap: 17px;
       column-gap: 17px;
}
.header__socials li {
  width: 32px;
  height: 32px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0px;
}

.nav__list {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  font-size: 17px;
  line-height: 27px;
}

.active {
  color: #118da8;
}

.episode-card {
  display: flex;
  -moz-column-gap: 53px;
       column-gap: 53px;
  background-color: #000000;
  padding: 40px;
  border-radius: 32px;
}

.episode-card__btn {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 49px;
  font-size: 18px;
  background-color: #191919;
  padding: 2px 16px;
  border-radius: 6px;
  line-height: 158%;
}

.episode-card__number {
  margin-bottom: 18px;
  color: #118da8;
  font-size: 17px;
  line-height: 158%;
}

.episode-card__title {
  margin-bottom: 28px;
  max-width: 701px;
  font-size: 64px;
  line-height: 110%;
  letter-spacing: 2.56px;
}

.episode-card__text {
  color: rgba(255, 255, 255, 0.7);
  line-height: 150%;
  margin-bottom: 18px;
}

.episodes {
  padding-bottom: 160px;
}

.episodes__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 64px;
}

.episodes__title {
  font-size: 64px;
  line-height: 124%;
  letter-spacing: 2.88px;
  transform: translateY(-10px);
}

.episodes__content {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.host {
  padding: 100px 0px;
}

.host__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.host__title {
  margin-bottom: 28px;
  font-size: 65px;
  line-height: 122%;
  letter-spacing: 2.88px;
}

.host__meet {
  color: #118da8;
  line-height: 150%;
}

.host__text {
  max-width: 556px;
  margin-bottom: 33px;
  font-size: 22px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.7);
}

.host__img {
  max-width: 560px;
}
.host__img img {
  border-radius: 14px;
}

.cta {
  padding: 100px 0px;
}

.cta__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 387px;
  padding: 60px;
  border-radius: 32px;
  background-color: #000000;
}
.cta__content ::after {
  content: "";
  position: absolute;
  left: -33px;
  bottom: -33px;
  width: 147px;
  height: 91px;
  background-image: url("../imgs/main/cta/decor-elements.svg");
}

.cta__subscribe {
  max-width: 431px;
}
.cta__subscribe p {
  color: #118da8;
  line-height: 150%;
}

.cta__title {
  margin-bottom: 28px;
  font-size: 72px;
  line-height: 122%;
  letter-spacing: 2.88px;
}

.cta__form {
  max-width: 552px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 29px;
}
.cta__form button {
  max-width: 87px;
}

.cta__form-input {
  padding: 26px 20px;
  border-radius: 6px;
  border: 1px solid #191919;
  background: #191919;
}

.comment__card {
  padding: 54px 60px 51px 50px;
  min-height: 321px;
  background-color: #000000;
  border-radius: 32px;
}

.comment__rate {
  margin-bottom: 21px;
  display: flex;
  gap: 5px;
  pointer-events: none;
}

.comment__text {
  max-width: 313px;
  margin-bottom: 19px;
  font-size: 36px;
  line-height: 120%;
}

.comment__author {
  color: rgba(255, 255, 255, 0.7);
  font-size: 24px;
  line-height: 120%;
}

.comments {
  padding: 100px 0px;
}

.comments__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.footer {
  font-size: 17px;
  line-height: 158%;
}

.footer__content {
  padding: 100px 0px;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  gap: 30px;
}

.footer__logo-group {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.footer__socials {
  display: flex;
  gap: 11px;
}

.footer__nav-list {
  display: grid;
  gap: 10px;
}/*# sourceMappingURL=main.css.map */