@import "./comment-card";

.comments {
  padding: 100px 0px;

  @include mediaTablet {
    padding: 50px 0px;
  }

  @include mediaPhoneLG {
    padding: 25px 0px;
  }
}

.comments__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;

  @include mediaTablet {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}
