.cta {
  padding: 100px 0px;

  @include mediaTablet {
    padding: 50px 0px;
  }

  @include mediaPhoneLG {
    padding: 25px 0px;
  }
}

.cta__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 387px;
  padding: 60px;
  border-radius: 32px;
  background-color: $black;

  ::after {
    content: "";
    position: absolute;
    left: -33px;
    bottom: -33px;
    width: 147px;
    height: 91px;
    background-image: url("../imgs/main/cta/decor-elements.svg");
  }

  @include mediaTablet {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.cta__subscribe {
  max-width: 431px;

  p {
    color: $accent;
    line-height: 150%;

    @include mediaTablet {
      font-size: 18px;
    }

    @include mediaPhoneLG {
      font-size: 16px;
      margin-bottom: 17px;
    }

    @include mediaPhoneMD {
      font-size: 14px;
      margin-bottom: 15px;
    }

    @include mediaPhoneSM {
      font-size: 12px;
      margin-bottom: 13px;
    }
  }
}

.cta__title {
  margin-bottom: 28px;
  font-size: 72px;
  line-height: 122%;
  letter-spacing: 2.88px;

  @include mediaTablet {
    font-size: 36px;
  }

  @include mediaPhoneLG {
    font-size: 30px;
  }

  @include mediaPhoneMD {
    font-size: 24px;
  }

  @include mediaPhoneSM {
  }
}

.cta__form {
  max-width: 552px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 29px;

  button {
    max-width: 87px;
  }
}

.cta__form-input {
  padding: 26px 20px;
  border-radius: 6px;
  border: 1px solid $background;
  background: $background;

  @include mediaTablet {
    font-size: 18px;
    padding: 20px 18px;
  }

  @include mediaPhoneLG {
    font-size: 16px;
    padding: 18px 16px;
  }

  @include mediaPhoneMD {
    font-size: 14px;
    padding: 16px 14px;
  }

  @include mediaPhoneSM {
    font-size: 12px;
    padding: 14px 12px;
  }
}
