.episode-card {
  display: flex;
  column-gap: 53px;
  background-color: $black;
  padding: 40px;
  border-radius: 32px;
}

.episode-card__btn {
  display: inline-block;
  margin-top: 8px;
  margin-bottom: 49px;
  font-size: 18px;
  background-color: $background;
  padding: 2px 16px;
  border-radius: 6px;
  line-height: 158%;
}

.episode-card__number {
  margin-bottom: 18px;
  color: $accent;
  font-size: 17px;
  line-height: 158%;
}

.episode-card__title {
  margin-bottom: 28px;
  max-width: 701px;
  font-size: 64px;
  line-height: 110%;
  letter-spacing: 2.56px;
}

.episode-card__text {
  color: rgba($white, 0.7);
  line-height: 150%;
  margin-bottom: 18px;
}
