.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0px;
}

.nav__logo {
}

.nav__list {
  display: flex;
  column-gap: 40px;
  font-size: 17px;
  line-height: 27px;
}

.active {
  color: $accent;
}
