@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&display=swap");

body {
  font-family: $font-main;
  background-color: $background;
  color: $white;
  font-size: 22px;
  font-weight: 400;
}

a {
  color: $white;
}

.container {
  margin: 0 auto;
  padding: 0px $container-padding;
  max-width: $container-width + ($container-padding * 2);
}

.castaway__btn {
  background-color: $accent;
  font-size: 17px;
  line-height: 158%;
  padding: 12px 15px;

  &--rounded {
    border-radius: 6px;
  }
}

.none {
  display: none !important;
}
