// Container
$container-width: 1300px;
$container-padding: 15px;

// Fonts
$font-main: "Poppins", sans-serif;

// Colors
$background: #191919;
$white: #ffffff;
$black: #000000;
$accent: #118da8;

// Media
$tablet: 996px;
$phoneLG: 425px;
$phoneMD: 375px;
$phoneSM: 320px;
$phoneXS: 300px;
